#divPrincipal {
  display: inline-block;
  background-color: lightgray;
  width: 40%;
  border-radius: 10px;
  margin-left: 30%;
  margin-top: 20px;
  padding: 20px;
}

#titulo {
  text-align: center;
  margin-bottom: 10px;
}

#divPrincipal > p {
  font-size: 18px;
}

#linha {
  margin-top: 25px;
  margin-bottom: 25px;
}

form {
  width: 100%;
}

label {
  display: block;
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 14px;
}

input,
select {
  display: block;
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px;
  box-sizing: border-box;
}

textarea {
  margin-top: 15px;
  width: 100%;
  border: 1px solid #ccc;
}

input:hover {
  background-color: rgba(233, 230, 230, 0.554);
}

button {
  width: 100px;
  margin-top: 20px;
  margin-left: 45% ;
  background-color: #2b6cb0;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px;
}

button:hover {
  background-color: #1e4f85;
}