/* DEFINIIÇÕES DA DIV*/

.divImg1 {
    height: 245px;
    width: 19%;
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
}

/* DEFINIIÇÕES DAS IMAGENS*/

main img {
    width: 100%;
    border-radius: 10%;
    height: 245px;
    transition: 1.5s;
}

#mainImg1:hover {
    border-radius: 50px;
    transition: 1s;
    box-shadow: 3px 3px 10px red;
}

#mainImg2:hover {
    border-radius: 50px;
    transition: 1s;
    box-shadow: 3px 3px 10px steelblue;
}

#mainImg3:hover {
    border-radius: 50px;
    transition: 1s;
    box-shadow: 3px 3px 10px slategrey;
}

#mainImg4:hover {
    border-radius: 50px;
    transition: 1s;
    box-shadow: 3px 3px 10px white;
}

#mainImg5:hover {
    border-radius: 50px;
    transition: 1s;
    box-shadow: 3px 3px 10px green;
}

#mainImg6:hover {
    border-radius: 50px;
    transition: 1s;
    box-shadow: 3px 3px 10px thistle;
}

#mainImg7:hover {
    border-radius: 50px;
    transition: 1s;
    box-shadow: 3px 3px 10px royalblue;
}

#mainImg8:hover {
    border-radius: 50px;
    transition: 1s;
    box-shadow: 3px 3px 10px white;
}

#mainImg9:hover {
    border-radius: 50px;
    transition: 1s;
    box-shadow: 3px 3px 10px purple;
}

#mainImg10:hover {
    border-radius: 50px;
    transition: 1s;
    box-shadow: 3px 3px 10px indigo;
}