#divEsquerda1 {
    display: inline-block;
    width: 25%;
    height: 500px;
}

#divEsquerda2 {
    display: inline-block;
    width: 25%;
    height: 500px;
}

#divDireita1 {
    display: inline-block;
    width: 25%;
    height: 500px;
}

#divDireita2 {
    display: inline-block;
    width: 24%;
    height: 500px;
}

video {
    width: 100%;
    height: 390px;
}

h2 {
    text-align: center;
    margin-top: 20px;
    color: white;
}